* {
    margin: 0;
    padding: 0;
    list-style: none;

}
body {
    background: #f5f5f5;
}

.contentMain {
    
    margin: 0 auto;
    /* largura */
    max-width: 1000px;
    width: 100%;
}

header {
    /* Tamanho da altura */
    height: 100px;
    background: #222;
    /* Cor de texto */
    color: #fff;
   /*flexbox*/
   display: flex;
   border-bottom: 5px solid #191970;
}

.contentHearder{
    margin: 0 auto;
    /* largura */
    max-width: 1000px;
    width: 100%;
    /*FlexBox*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    margin: 20px;
}

header nav ul {
    display: flex;
}

header nav ul a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;

}

header nav ul a:hover {
    text-decoration: underline;
    color: orange;
}
.carrousel article{
    margin-top: 20px;
}

.carrousel img {
    border-radius: 10px;
    width: 100%;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid grey;
}
footer {
    background: #222;
    color: #f5f5f5;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
.paginaContato h1 {
    color: #191970;
    padding-top: 10px;
    margin-bottom: 20px;

}
/* Formulário */
form {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

form label {
  margin-bottom: 8px;
  font-weight: bold;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form .titulo-checkbox {
  font-size: 16px;
  margin-bottom: 10px;
}

form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: rgb(39, 39, 234);
  color: white;
  cursor: pointer;
}
